#======== File I/O =====================
BitstreamFile                 : str.bin
ReconFile                     : rec.yuv

#======== Profile ================
Profile                       : auto

#======== Unit definition ================
MaxCUWidth                    : 64
MaxCUHeight                   : 64

#======== Coding Structure =============
IntraPeriod                   : 1
DecodingRefreshType           : 1
GOPSize                       : 1

#=========== Motion Search =============
FastSearch                    : 1
SearchRange                   : 64
HadamardME                    : 1
FEN                           : 1
FDM                           : 1

#======== Quantization =============
QP                            : 32
MaxDeltaQP                    : 0
MaxCuDQPSubdiv                : 0
DeltaQpRD                     : 0
RDOQ                          : 1
RDOQTS                        : 1

#=========== Deblock Filter ============
DeblockingFilterOffsetInPPS         : 1
DeblockingFilterDisable             : 0
DeblockingFilterBetaOffset_div2     : -2
DeblockingFilterTcOffset_div2       : -5
DeblockingFilterCbBetaOffset_div2   : -2
DeblockingFilterCbTcOffset_div2     : -5
DeblockingFilterCrBetaOffset_div2   : -2
DeblockingFilterCrTcOffset_div2     : -5
DeblockingFilterMetric        : 0

#=========== Misc. ============
InternalBitDepth              : 10

#=========== Coding Tools =================
SAO                           : 1
TransformSkip                 : 1
TransformSkipFast             : 1
TransformSkipLog2MaxSize      : 5
SAOLcuBoundary                : 0

#============ VTM settings ======================
SEIDecodedPictureHash               : 0
CbQpOffset                          : 0
CrQpOffset                          : 0
SameCQPTablesForAllChroma           : 1
QpInValCb                           : 17 27 32 44
QpOutValCb                          : 17 29 34 41
TemporalSubsampleRatio              : 8

ReWriteParamSets                    : 1

# General
CTUSize                      : 128
LCTUFast                     : 1

DualITree                    : 1
MinQTLumaISlice              : 8
MinQTChromaISliceInChromaSamples: 4
MinQTNonISlice               : 8
MaxMTTHierarchyDepth         : 3
MaxMTTHierarchyDepthISliceL  : 3
MaxMTTHierarchyDepthISliceC  : 3

MTS                          : 1
MTSIntraMaxCand              : 4
MTSInterMaxCand              : 4
SBT                          : 1
LFNST                        : 1
ISP                          : 1
Affine                       : 1
SbTMVP                       : 1
MaxNumMergeCand              : 6
LMChroma                     : 1
DepQuant                     : 1
IMV                          : 1
ALF                          : 1
IBC                          : 0
AllowDisFracMMVD             : 1
AffineAmvr                   : 0
LMCSEnable                   : 1
LMCSSignalType               : 0
LMCSUpdateCtrl               : 1
LMCSOffset                   : 2
MRL                          : 1
MIP                          : 1
JointCbCr                    : 1
ChromaTS                     : 1

# Fast tools
PBIntraFast                  : 1
ISPFast                      : 1
FastMrg                      : 1
AMaxBT                       : 1
FastMIP                      : 1
FastLFNST                    : 1

# Encoder optimization tools
AffineAmvrEncOpt             : 0
ALFAllowPredefinedFilters    : 1
ALFStrengthTargetLuma        : 1.0
ALFStrengthTargetChroma      : 1.0
CCALFStrengthTarget          : 1.0
